*{
    
        margin: 0;
        padding:0;
        box-sizing: border-box;
    
}


.container{
    
        max-width: 960px;
        padding: 0 2%;
        margin: 0 auto;
}

.clear{
    
        clear: both;
}

header{
    
        background: gray;
        padding:8px 0;
        height: 30px;
        
}
 

.logo-desktop{
    
        float: left;       
        cursor: pointer;
}

.logo-desktop a{
    
        font-family: sans-serif;
        font-size: 22px;
        margin: 0 auto;
        color: white;
        text-decoration: none;
}

.menu-desktop li{
    
        display:inline-block;
        margin: 0 15px;
        list-style: none;
        text-decoration: none;
        color: white;
                
}

.logo-centro{
    
        text-align: center;
        color: black;
        cursor: pointer;
}

.menu-desktop a{
    
          text-decoration: none;
          color: white;
}   

.menu-desktop a:hover{
    
         color: lightgray;
         text-decoration: underline;
} 

.menu-desktop{
    
        float:right;
}

.mobile{
    
         display: none;
}


/* MOBILE */




@media screen and (max-width:760px){
    
    header{
        
            height: 48px;
    }
    
    .logo-desktop{
        
            display: none;
    }
     .menu-desktop{
        
            display: none;
    }
    
    .mobile{
        
            display:block;
            width: 100%;
            position: relative;
            
    }
    
    .maca{
        
            text-align: center;
            
           
    }
    
    .menu-icone{
        
            padding: 2px 0;
            top: 0;
            left:0;
            position: absolute;
            cursor: pointer;
    }
    
    .mobile ul{
        
            position: absolute;
            left: -3%;
            top: 40px;
            width: 106%;
            text-align: center;
            
    }
    
    .mobile li{
        
            padding: 8px 0;
            border-top:1px solid white;
            background: gray;
            display: none;

    }
    
    .logo-mobile a{
        
           display:none;
    }
    
    .logo-mobile li, a{
        
            text-decoration: none;
            border: none;
            color: white;
    }
    
    .mobile h2{
        
            cursor: pointer;
    }
}